/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

html {
  height: 100%;
}

body {
	font-family: 'Nunito', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
  background-color: #f5f5f5;
	margin: 0 auto;
}

.content-wrapper {
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
	font-size: .95em;
}

h1,
h2,
h3,
a {
	color: #093a58;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* =================================
  Navigation
==================================== */

.main-nav {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.main-nav li {
	margin: 0px 0px 8px 0px;
}

.main-nav .link {
	background-color: #ffffff;
}

.main-nav .active-link {
	background-color: #3366cc;
}

.main-nav .active-link a {
	color: #f2f2f2;
}

.main-nav .link:hover, .main-nav .link:hover a {
	background-color: #142952;
	color: #f2f2f2;
}

#name {
	width: 100%;
}

#name a {
	font-size: 1.5em;
}

#name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}

.link {
	width: 100%;
}

.name-link {
	width: 100%;
}

.nav {
  width: 100%;
  margin: 10px auto 0 auto;
}

li {
  display: block;
}

.nav li {
	justify-content: space-around;
}

/* =================================
  Banner
==================================== */

#banner {
  width: 90%;
  display: block;
	margin: 0 auto;
  padding-bottom: 2em;
}

#banner p {
  vertical-align: top;
	text-align: center;
  width: 90%;
	font-size: 1em;
  font-weight: 300;
  color: #666666;
}

#banner img {
	width: 250px;
	height: 150px;
}

#banner img, #banner p {
	display: block;
	margin: 2em auto 0 auto;
}

/* =================================
  Portfolio
==================================== */

.content-header {
	padding-bottom: 1em;
  text-align: center;
  vertical-align: middle;
}

#portfolioContent {
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 2em;
	border-bottom: 3px solid rgba(9, 58, 88, 0.4);
	border-radius: 5px;
}

      /* =================================
        portfolioContent
        ==================================== */

        #portfolioContent ul {
          display: block;
        }

        #portfolioContent ul li {
          vertical-align: top;
					width: 90%;
					margin: 0 auto;
        }

				#portfolioContent ul li h3 {
					margin-top: 1em;
				}

				#portfolioContent ul li p {
					margin: 0 2em 2.5em 2em;
				}

        #portfolioContent ul li h3, #portfolioContent ul li p {
          text-align: center;
        }

        #portfolioContent ul li a img {
					margin: 0 auto;
        }

/* =================================
	Skills
		==================================== */

		#skillsContent {
			padding-bottom: 2em;
		}

		#description {
			font-size: 1.25em;
			width: 100%;
			text-align: center;
			font-style: italic;
		}

		#skillsContent h2 {
			margin: 1.5em auto;
			text-align: center;
		}

		#classesDiv {
			border-bottom: 2px solid #093a58;
			margin-bottom: 1.5em;
		}

		#classesDiv, #languagesDiv {
			display: flex;
			flex-wrap: wrap;
			margin: 0 auto 3em auto;
			justify-content: space-between;
			width: 90%;
		}

		.classes, .languages {
			color: #ffffff;
			font-size: 1.2em;
			flex: 1;
			flex-direction: row;
			text-align: center;
			margin: 1em 10px;
			border-radius: 20px;
			transition: .3s ease-in;
		}

		.classes {
			height: 100px;
			line-height: 100px;
		}

		.languages {
			height: 75px;
			line-height: 75px;
		}

		/* =================================
			classes
				==================================== */

		.classes:nth-child(1) {
			background-color: #ab411f;
		}

		.classes:nth-child(2) {
			background-color: #ab861f;
		}

		.classes:nth-child(3) {
			background-color: #194e6d;
		}

		.classes:nth-child(1):hover {
			background-color: #c96140;
		}

		.classes:nth-child(2):hover {
			background-color: #c9a540;
		}

		.classes:nth-child(3):hover {
			background-color: #2e6280;
		}

		/* =================================
			languages
				==================================== */

		.languages:nth-child(1) {
			background-color: #157251;
		}

		.languages:nth-child(2) {
			background-color: #ab721f;
		}

		.languages:nth-child(3) {
			background-color: #1b466f;
		}

		.languages:nth-child(4) {
			background-color: #ab4C1f;
		}

		.languages:nth-child(1):hover {
			background-color: #2b8767;
		}

		.languages:nth-child(2):hover {
			background-color: #c99240;
		}

		.languages:nth-child(3):hover {
			background-color: #305a83;
		}

		.languages:nth-child(4):hover {
			background-color: #c96c40;
		}








/* =================================
  Footer
    ==================================== */

    footer {
      height: 200px;
			width: 90%;
			margin: 0 auto;
    }

    footer p {
      width: 80%;
    }

    footer h3 {
      font-size: 1.5em;
      margin-top: 4em;
    }

		footer h4 {
      font-size: 1.25em;
			margin: .5em;
			float: right;
    }

    footer h3, footer p {
      margin: .75em auto;
      text-align: center;
    }

		.footer-inner {
			border-bottom: solid 2px rgba(9, 58, 88, .8);

		}

		#footer-title {
			margin: .5em;
			float: left;
		}

		.footer-nav {
			display: none;
			margin: .5em;
			width: 30%;
			float: right;
			font-size: 1.1em;
		}

		.footer-outer h4 {
			color: #093a58;
		}

		.footer-nav li  a{
			text-align: center;
			margin: 0 auto;
		}

/* =================================
	Media Queries
		==================================== */

		@media (min-width: 769px) {
			.main-header,
			.row,
		  .footer-inner{
				width: 80%;
				margin: 0 auto;
				max-width: 1150px;
			}
			.tagline {
				font-size: 1.4em;
			}
		}
